

header h1{
    text-align: center;
    font-size: 4em;
    background-color: green;
    color: white;
}

main > a{
    text-decoration: none;
    color: black;
}

main > a:hover{
    text-decoration: underline;
    color: green;
}